.containerDes {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;

  position: relative;
}

.des {
  height: auto;
  min-height: 190px;
  width: 240px;
  border-radius: 35px;
  font-family: monospace;
  font-size: 1rem;
  padding: 20px;
  padding-top: 30px;
  transition-duration: 0.3s;
  /* border-top: 1px dashed #d7354290; */
  border-radius: 89% 11% 85% 15% / 12% 87% 13% 88%;
}
.des:hover {
  transform: scale(1.03);
  transition: ease-in-out;
  transition-duration: 0.3s;
}

@media (max-width: 1380px) {
  .des {
    margin-right: 50px;
  }
}

.limit {
  margin-bottom: 5px;
  opacity: 0.5;
}
.titleDescription {
  font-size: 1.3rem;
  font-weight: bold;
  text-align: center;
}
.description1 {
  animation: traslado 0.7s linear 0s 1;
}

.description2 {
  animation: traslado 1s linear 0s 1;
}

.description3 {
  animation: traslado 1.5s linear 0s 1;
}

.description4 {
  animation: traslado 2s linear 0s 1;
}

@keyframes traslado {
  0% {
    transform: translate(-100%);
  }
  88% {
    transform: translate(5%);
  }

  100% {
    transform: translate(0);
  }
}

@media (max-width: 650px) {
  .des {
    padding-top: 18px;
    font-size: 1.1em;
    margin-bottom: 10px;
  }
}
