.tecnologi {
  margin: auto;
}

.tecnologi > li {
  font-weight: bold;
  height: 55px;
  margin: 0.8rem;
  transition: all 0.3s;
  border-radius: 20px;
}

.tecnologi > li > :global(svg) {
  transform: scale(0.85);
}
.a {
  animation: rot 3s cubic-bezier(0.47, 0, 0.745, 0.715) infinite;
  animation-delay: 200ms;
}
.b {
  animation: rot 3s cubic-bezier(0.47, 0, 0.745, 0.715) infinite;
  animation-delay: 500ms;
}
.b::after {
  content: '';
  animation: name 25s cubic-bezier(0.47, 0, 0.745, 0.715) infinite;
  animation-delay: 800ms;
  content: 'Bootstrap';
}

@keyframes name {
  0% {
  }
  25% {
    content: 'Tailwind';
  }
  50% {
    content: 'SCSS';
  }
  100% {
    content: 'Bootstrap';
  }
}

.c {
  animation: rot 3s cubic-bezier(0.47, 0, 0.745, 0.715) infinite;
  animation-delay: 1100ms;
}
.d {
  animation: rot 3s cubic-bezier(0.47, 0, 0.745, 0.715) infinite;
  animation-delay: 1500ms;
}
.e {
  animation: rot 3s cubic-bezier(0.47, 0, 0.745, 0.715) infinite;
  animation-delay: 1700ms;
}
.f {
  animation: rot 3s cubic-bezier(0.47, 0, 0.745, 0.715) infinite;
  animation-delay: 2000ms;
}
.g {
  animation: rot 3s cubic-bezier(0.47, 0, 0.745, 0.715) infinite;
  animation-delay: 2300ms;
}

@keyframes rot {
  0% {
    transform: rotateY(0);
  }
  50% {
    transform: rotateY(-30deg);
  }
  100% {
    transform: rotateY(0);
  }
}
.pausarAnimacion {
  animation-play-state: paused;
  -o-animation-play-state: paused;
  -moz-animation-play-state: paused;
  -webkit-animation-play-state: paused;
}
@media (max-width: 1280px) {
  .tecnologi > li {
    height: 48px;
    font-size: 0.85rem;
    margin: 2px;
    width: 160px;
  }

  .tecnologi > li > :global(svg) {
    transform: scale(0.8);
    margin: -10px;
  }
}

@media (max-width: 640px) {
  .tecnologi > li {
    height: 35px;
    margin: 2px;
    width: 150px;
    border-radius: 5px;
    font-size: 0.7rem;
  }
  .tecnologi > li > :global(svg) {
    transform: scale(0.6);
    margin: -15px;
  }
}
