@import url("https://fonts.googleapis.com/css2?family=Comfortaa&family=Dancing+Script:wght@500&family=Inconsolata:wght@300&family=Moon+Dance&family=Nunito+Sans:wght@300&family=PT+Sans:ital@1&family=Raleway:wght@400;700&family=Source+Code+Pro:ital,wght@0,300;0,400;0,600;1,400&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body,
  html {
    font-family: "Comfortaa", cursive;
    font-family: "Dancing Script", cursive;
    font-family: "Inconsolata", monospace;
    font-family: "Moon Dance", cursive;
    font-family: "Nunito Sans", sans-serif;
    font-family: "PT Sans", sans-serif;
    font-family: "Raleway", sans-serif;
    font-family: "Source Code Pro", monospace;
    margin: 0;
    padding: 0;
  }
  :root {
    overflow-x: hidden;
  }

  /* body {
    @apply bg-slate-100 dark:bg-zinc-900;
  } */
  /* sobre escribo clase de arriba  bg-zinc-900*/
  @layer components {
    .bg-zinc-300 {
      --tw-bg-opacity: 1;
      background-color: rgb(241 245 249 / var(--tw-bg-opacity));
      background-image: conic-gradient(
        transparent 42deg,
        #efefef30 45deg,
        #efefef60 90deg,
        transparent 93deg
      );

      background-position: 0 0, 1px 1px;
      background-size: 20px 20px;
    }

    .dark .dark\:bg-zinc-900 {
      --tw-bg-opacity: 1;
      background-color: rgb(24 24 27 / var(--tw-bg-opacity));
      background-image: conic-gradient(
        transparent 42deg,
        #3d3d3d 45deg,
        #0d0d0d 90deg,
        transparent 93deg
      );

      background-position: 0 0, 1px 1px;
      background-size: 20px 20px;
    }
  }
  input:focus + span,
  textarea:focus + span,
  input:valid + span,
  textarea:valid + span {
    @apply text-cyan-500 -translate-y-8 opacity-100;
  }
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
} */
