@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body,
  html {
    font-family:
      var(--font-poppins),
      system-ui,
      -apple-system,
      BlinkMacSystemFont,
      'Segoe UI',
      Roboto,
      Oxygen,
      Ubuntu,
      Cantarell,
      'Open Sans',
      'Helvetica Neue',
      sans-serif;
    box-sizing: border-box;
    margin: 0;

    padding: 0;
    scroll-behavior: smooth;
  }
  :root {
    overflow-x: hidden;
  }

  body::-webkit-scrollbar,
  .scroll_style::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }

  body::-webkit-scrollbar-track,
  .scroll_style::-webkit-scrollbar-track {
    background-clip: content-box;
  }

  body::-webkit-scrollbar-thumb,
  .scroll_style::-webkit-scrollbar-thumb {
    background-color: #0099aa80;
  }

  body::-webkit-scrollbar-thumb:hover,
  .scroll_style::-webkit-scrollbar-thumb:hover {
    background-color: #0099aa80;
  }

  body::-webkit-scrollbar-corner,
  body::-webkit-scrollbar-track,
  .scroll_style::-webkit-scrollbar-corner,
  .scroll_style::-webkit-scrollbar-track {
    background-color: rgb(204, 225, 228);
  }

  /* body {
    @apply bg-slate-100 dark:bg-zinc-900;
  } */
  /* sobre escribo clase de arriba  bg-zinc-300*/
  @layer components {
    /* .bg-zinc-300 {
      --tw-bg-opacity: 1;
      background-color: rgb(241 245 249 / var(--tw-bg-opacity));
      background-image: conic-gradient(
        transparent 42deg,
        #1e293b50 45deg,
        #06b6d460 90deg,
        transparent 93deg
      );

      background-position:
        0 0,
        1px 1px;
      background-size: 3px 3px;
    } */

    .dark .background_black {
      --tw-bg-opacity: 1;
      background-color: rgb(33 33 36 / var(--tw-bg-opacity));
      background-image: conic-gradient(
        transparent 42deg,
        #3d3d3d60 45deg,
        #0d0d0d 90deg,
        transparent 93deg
      );

      background-position:
        0 0,
        1px 1px;
      background-size: 20px 20px;
    }
  }
  input:focus + span,
  textarea:focus + span,
  input:valid + span,
  textarea:valid + span {
    @apply text-purple/90 -translate-y-8 opacity-100;
  }

  .custom-rounded {
    border-radius: 89% 11% 85% 15% / 12% 87% 13% 88%;
    border-radius: 94% 6% 95% 5% / 8% 94% 6% 92%;
    border-radius: 68% 8% 71% 8% / 7% 72% 7% 71%;
    border-radius: 7% 6% 5% 8% / 47% 52% 41% 50%;
  }

  .custom-container {
    margin: auto;
    height: auto;
    max-width: 1370px;
    padding: 0 30px 0 30px;
    /* border: 2px solid #eee; */
    position: relative;
  }

  .custom-text {
    color: transparent;
    -webkit-text-stroke: 1px #25283d;
  }
  .custom-container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 30px;
    right: 30px;
    bottom: 0;
    /* border: 2px solid blue; */
    border-top: 0px;
    border-bottom: 0px;
    pointer-events: none;
  }

  @media screen and (max-width: 800px) {
    .custom-container {
      padding: 0 15px 0 15px;
    }
    .custom-container::before {
      left: 15px;
      right: 15px;
    }
  }
  .dark .custom-text {
    -webkit-text-stroke: 0;
  }
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
} */
